{% extends 'base.html'%}
{% block title %}Contacto{% endblock %}

{% load static %}

{% block img-head %}{% static 'img/contacto.png'%}{% endblock %}

{% block title-head %}
<h1>Contacto</h1>
{% endblock %}
{% block content %}

<div class="container">
    
<h2 class="section-heading2">Laura Juaréz Vargas </h2>
            <p><b>Teléfono:</b> +52 247 108 4653 <b></p>
            <p>Email : </b> lau72abrvjua@gmail.com</p>
            <br>
<h2 class="section-heading2">Gustavo Santiago Ortiz</h2>
            <p><b>Teléfono:</b> +52 247 101 8707 <b></p>
            <p>Email : </b> santiagogustavo882@gmail.com </p>
            <br>        
<h2 class="section-heading2">Cristian Giovanni Huerta Rodríguez</h2>
            <p><b>Teléfono:</b> +52 241 157 7906 <b></p>
            <p>Email : </b> huertacristiangio@gmail.com</p>
            <br>
<h2 class="section-heading2">Marina Portillo Carreón</h2>
            <p><b>Teléfono:</b> +52 644 281 27 62 <b></p>
            <p>Email : </b> portillocarreonmarina@gmail.com</p>
    </div>
    </div>
</div>

{% endblock %}