{% extends 'base.html'%}
{% block title %}Prototipo móvil{% endblock %}

{% load static %}

{% block img-head %}{% static 'img/Designer(1).jpeg'%}{% endblock %}

{% block title-head %}
<h1 class="text-center">Prototipo Móvil</h1>
{% endblock %}

{% block content %}

<!-- Contenido Principal -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading text-center">Prototipo Móvil</h2>   
            <p class="text-center">Es una aplicación móvil desarrollada con Flutter que consta con una conexión
                a una base de datos en la nube NoSQL con los datos del cuidador del canino, 
                la conexión a sensores para el monitoreo de pulso cardiaco, temperatura. 
                En el que se resguardarán los datos de monitoreo de manera constante,
                para llevar un control sobre el canino.</p>
            <br>
            <h2 class="section-heading text-center">Interfaces de la aplicación móvil</h2>
        </div>
    </div>
    <!-- Primera fila de imágenes -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/inicio.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/2_movil.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/3_movil.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/4_movil.jpg' %}" alt="" class="img-fluid">
        </div>
    </div>
    <!-- Segunda fila de imágenes -->
    <div class="row mt-4">
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/5_movil.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/6_movil.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/7_movil.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6">
            <img src="{% static 'img/8_movil.jpg' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}
